.container {
  display: flex;
}

.grow-1 {
  flex-grow: 1;
}

.grow-2 {
  flex-grow: 2;
}

.grow-3 {
  flex-grow: 3;
}

.container2 {
  display: flex;
}

.grow-1 {
  flex-grow: 1;
}

.grow-2 {
  flex-grow: 2;
}

.grow-3 {
  flex-grow: 3;
}

.basis-auto {
  flex-basis: auto;
}

.basis-0 {
  flex-basis: 0;
}

.basis-100 {
  flex-basis: 100px;
}

.basis-porcentagem {
    flex-basis: 13%;
}

.container3 {
    display: flex;
}

.shrink-1 {
  flex-shrink: 1;
}

.shrink-2 {
  flex-shrink: 2;
}

.shrink-3 {
  flex-shrink: 3;
}

.container4 {
  display: flex;
}

.flex-1 {
  flex: 0 1 300px;
}

.container5{
  display: flex;
}

.flex {
  flex: 1;
}

