.row{
    display: flex;
}

.row-reverse{
    display: flex;
    flex-direction: row-reverse;
}

.column{
    display: flex;
    flex-direction: column;
}

.column-reverse{
    display: flex;
    flex-direction: column-reverse;
}