.row {
  display: flex;
}

.row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.column {
  display: flex;
  flex-direction: column;
}

.column-reverse {
  display: flex;
  flex-direction: column-reverse;
}

.flex-start {
  display: flex;
  /* justify-content: flex-start; */
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.center {
  display: flex;
  justify-content: center;
}

.container.space-between div,
.container.space-around div,
.container.space-evenly div {
  margin: 0;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.space-around {
  display: flex;
  justify-content: space-around;
}

.space-evenly {
  display: flex;
  justify-content: space-evenly;
}

.flex-start2 {
  display: flex;
  align-items: flex-start;
}

.flex-end2 {
  display: flex;
  align-items: flex-end;
}

.center2 {
  display: flex;
  align-items: center;
}

.stretch {
  display: flex;
  align-items: stretch;
}

.baseline{
  display: flex;
  align-items: baseline;
}

.container2 div.baseline-2{
  font-size: 40px;
}

.container2 div.baseline-3{
  font-size: 80px;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
}

.nowrap {
  display: flex;
  flex-wrap: nowrap;
}

.wrap-reverse {
  display: flex;
  flex-wrap: wrap-reverse;
}

.flow {
  display: flex;
  flex-flow: column wrap;
}

.flex-start3 {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
}

.flex-end3{
  display: flex;
  align-content: flex-end;
  flex-wrap: wrap;
}

.center3 {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
}

.space-between2 {
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
}

.space-around2 {
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
}

.space-evenly2 {
  display: flex;
  align-content: space-evenly;
  flex-wrap: wrap;
}

.stretch2 {
  display: flex;
  align-content: stretch;
  flex-wrap: wrap;
}