#titulo {
  background-color: rgb(135, 181, 241);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: Poppins;
  font-size: 60px;
}

nav {
  background-color: rgb(135, 181, 241);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: Poppins;
  font-size: 23px;
}

a {
  text-decoration: none;
  color: #000000;
  font-family: Poppins;
}

a:visited {
  color: rgb(23, 23, 23);
}

a:hover {
  color: rgb(119, 119, 119);
}

.estilo-fonte-itens {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 23px;
}

.estilo-visual-header {
  background-color: rgb(135, 181, 241);
  display: inline-block;
  padding: 10px 10px;
  width: 600px;
}

.estilo-visual-itens {
  display: inline-block;
  background-color: rgb(135, 181, 241);
  padding: 50px 50px;
  border: 5px solid rgb(13, 13, 133);
  margin: 10px 10px;
}

h2 {
  font-family: Poppins;
  background-color: rgb(135, 181, 241);
  font-size: 35px;
}

h3 {
  text-align: center;
  font-family: Poppins;
  background-color: rgb(135, 181, 241);
  font-size: 30px;
}

p:first-child {
  color: chocolate;
  font-size: 23px;
  margin: 30px 0 60px;
  padding: 20px;
  border: 5px solid rgb(13, 13, 133);
  background-color: rgb(135, 181, 241);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

p:last-child {
  color: darkcyan;
  font-size: 23px;
  margin: 30px 0 60px;
  padding: 20px;
  border: 5px solid rgb(13, 13, 133);
  background-color: rgb(135, 181, 241);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

p:not(.padrao) {
  color: green;
  font-size: 23px;
  margin: 30px 0 60px;
  padding: 20px;
  border: 5px solid rgb(13, 13, 133);
  background-color: rgb(135, 181, 241);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

li:nth-child(even) {
  color: blueviolet;
}

li:nth-last-child(odd) {
  color: blueviolet;
}

.first-letter::first-letter{
  color: coral;
}

.first-line::first-line{
  color: blueviolet;
}

.before::before{
  content: url(./images/favicon.ico);
}

.after::after{
  content: url(./images/favicon.ico);
}