#titulo{
    background-color: rgb(155, 153, 150);
}

h2 {
    background-color: blueviolet;
    border: solid 3px;
}

h3{
    text-align: center;
    background-color: aquamarine;
    border: solid 3px;
}

p{
    font-size: 23px;
    margin: 30px 0 60px;
    padding: 20px;
    border: solid 3px;
    background-color: bisque;
    text-align: center;
}

.maiuscula{
    text-transform: uppercase;
}

.minuscula{
    text-transform: lowercase;
}

.primeira-letra-maiuscula{
    text-transform: capitalize;
}

.esquerda{
    text-align: left;
}

.direita{
    text-align: right;
}

.centro{
    text-align: center;
}

.sublinhado{
    text-decoration: underline;
}

.tachado{
    text-decoration: line-through;
}

.sem-decoracao{
    text-decoration: none;
}

.sombra-de-texto{
    text-shadow: 10px 10px 3px #000000;
}

.altura-entre-linhas{
line-height: 60px;
}

.foto{
    max-width: 400px;
    max-height: 400px;
}

.cor{
    color: red;
}

.rgb{
    /* color: rgb(red, green, blue); */
    color: rgb(0, 255, 0);
}

.rgba{
    /* color: rgba(red, green, blue, alpha); */
    color: rgba(0, 0, 255, 0.5);
}

.hexa{
    /* color: #; */
    color: #715639;
}

.caixa{
    color: blue;
    margin: 20px;
    padding: 10px;
    border: solid 10px blue;
    background-color: aquamarine;
}

.produto {
    color: blue;
    margin: 20px;
    padding: 10px;
    border: solid 10px blue;
    background-color: aquamarine;
}

.produto span {
    font-size: 30px;
    color: blueviolet;
}

.rodape {
    color: green;
    margin: 20px;
    padding: 10px;
    border: solid 10px green;
    background-color: greenyellow;
}