#titulo {
  background-color: rgb(155, 153, 150);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: Poppins;
  margin: 0 0 30px;
}

a {
  text-decoration: none;
  color: #000000;
}

a:visited {
  color: blueviolet;
}

.estilo-fonte-itens {
  font-family: Arial, Helvetica, sans-serif;
}

.estilo-visual-header {
  background-color: lightblue;
  display: inline;
  margin: 10px 0 10px;
  border: 3px solid black;
  padding: 10px 100px;
}

.estilo-visual-itens {
  background-color: beige;
  padding: 10px 10px;
  border: 3px solid black;
  margin: 10px 10px;
}

h2 {
  background-color: blueviolet;
  border: solid 3px;
}

h3 {
  text-align: center;
  background-color: aquamarine;
  border: solid 3px;
}

p {
  font-size: 23px;
  margin: 30px 0 60px;
  padding: 20px;
  border: solid 3px;
  background-color: bisque;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.maiuscula {
  text-transform: uppercase;
}

.minuscula {
  text-transform: lowercase;
}

.primeira-letra-maiuscula {
  text-transform: capitalize;
}

.esquerda {
  text-align: left;
}

.direita {
  text-align: right;
}

.centro {
  text-align: center;
}

.sublinhado {
  text-decoration: underline;
}

.tachado {
  text-decoration: line-through;
}

.sem-decoracao {
  text-decoration: none;
}

.sombra-de-texto {
  text-shadow: 10px 20px 3px #000000;
}

.altura-entre-linhas {
  line-height: 60px;
}


.cor {
  color: red;
}

.rgb {
  /* color: rgb(red, green, blue); */
  color: rgb(0, 255, 0);
}

.rgba {
  /* color: rgba(red, green, blue, alpha); */
  color: rgba(0, 0, 255, 0.5);
}

.hexa {
  /* color: #; */
  color: #715639;
}

.caixa {
  color: blue;
  margin: 20px;
  border: solid 10px blue;
  padding: 10px;
  background-color: aquamarine;
}

.produto {
  color: blue;
  margin: 20px;
  border: solid 10px blue;
  padding: 10px;
  background-color: aquamarine;
}

.produto span {
  font-size: 30px;
  color: blueviolet;
}

.rodape {
  color: #000000;
  margin: 20px 0 0;
  border: solid 10px green;
  padding: 10px;
  background-color: greenyellow;
}
